server {
        # Ports to listen on
        listen 80;

        # Server name to listen for
        server_name {{alerta_site_name}};

        # Overrides logs defined in nginx.conf, allows per site logs.
        access_log {{alerta_site_dir}}/logs/access.log;
        error_log {{alerta_site_dir}}/logs/error.log;

        # Default server block rules
        include global/server/defaults.conf;


        location /api/ {
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_pass http://backend/;
        }
        
        location / {
          root {{alerta_site_dir}}/public/app;
        }

}

# Redirect www to non-www
server {
        listen 80;
        server_name www.{{alerta_site_name}};

        return 301 $scheme://{{alerta_site_name}}$request_uri;
}

upstream backend {
        server localhost:8080 fail_timeout=0;
}